<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Loading...</title>
  <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}.css">
</head>
<body>
  <div class="loading-spinner"></div>
  <script>
    window.addEventListener("load", function(){
      const form = document.getElementsByTagName("form")[0];
      form.addEventListener("submit", function(){
        const spinner = document.querySelector(".loading-spinner");
        spinner.style.display = "block";
      });
    });
  </script>
</body>
</html> -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Loading...</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>
<body>
  <div class="loader"></div>
  <h1>Processing your audio files, please wait...</h1>
</body>
</html>
