<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>upload</title>
</head>
<body>
  <form action="http://127.0.0.1:5000/audios-uplaoder" method="POST">
    <label for="audio file">audio file :</label><input type="file" name="file" id="audios" accept="audio/*">
    <input type="submit" value="submit">
  </form>
  <br>
  <form action="http://127.0.0.1:5000/background-noises-uplaoder" method="POST">
    <label for="background audio file">background audio file: </label><input type="file" name="file" id="background-noises" accept="audio/*">
    <input type="submit" value="submit">
  </form>
</body>
</html>