<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>upload</title>
</head>
<body>
  <form action="http://127.0.0.1:5000/upload-audio" method="POST" enctype="multipart/form-data">
    <label for="audio file">Select one or more audio files to upload :</label><input type="file" name="audio-file" id="audio-file" accept="audio/*" multiple>
    <input type="submit" value="submit">
  </form>
</body>
</html>